<div class="container">
  <div class="right-side">
    <div class="login-form">
      <h2>Sign Up</h2>

      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <label for="firstName">First Name</label>
        <input
          formControlName="firstName"
          type="text"
          id="firstName"
          placeholder="Enter your first name"
          required
        />
        @if(firstName?.hasError('required') && submitted) {
        <p class="invalid-message">First name is required.</p>
        }

        <label for="lastName">Last Name</label>
        <input
          formControlName="lastName"
          type="text"
          id="lastName"
          placeholder="Enter your last name"
          required
        />
        @if(lastName?.hasError('required') && submitted) {
        <p class="invalid-message">Last name is required.</p>
        }

        <label for="email">Email</label>
        <input
          formControlName="email"
          type="email"
          id="email"
          placeholder="Enter your email"
          required
        />
        @if(email?.hasError('required') && submitted) {
        <p class="invalid-message">Email is required.</p>
        } @if(email?.hasError('email') && submitted) {
        <p class="invalid-message">Please enter a valid email.</p>
        }

        <label for="password">Password</label>
        <input
          formControlName="password"
          type="password"
          id="password"
          placeholder="Enter your password"
          required
        />
        @if(password?.hasError('required') && submitted) {
        <p class="invalid-message">Password is required.</p>
        } @if(password?.hasError('minlength') && submitted) {
        <p class="invalid-message">
          Password must be at least 6 characters or more.
        </p>
        }

        <label for="confirmPassword">Confirm Password</label>
        <input
          formControlName="confirmPassword"
          type="password"
          id="confirmPassword"
          placeholder="Confirm your password"
          required
        />
        @if(signupForm.hasError('passwordMatch') && submitted) {
        <p class="invalid-message">Passwords do not match.</p>
        }

        <button type="submit">Sign Up</button>
      </form>

      <p class="login-message">
        Already joined?<a routerLink="/login"><strong> Sign In.</strong></a>
      </p>
    </div>
  </div>
</div>
