<div class="container">
  <div class="right-side">
    <div class="form">
      <h2>Welcome</h2>
      <form [formGroup]="loginForm" (ngSubmit)="emitData()">
        <label for="email">Email</label>
        <input
          formControlName="email"
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          required
        />
        @if(email?.hasError('required') && isSubmitted) {
        <p class="invalid-message">Email is required.</p>
        } @if(email?.hasError('email') && isSubmitted) {
        <p class="invalid-message">Please enter a valid email.</p>
        }

        <label for="password">Password</label>
        <input
          formControlName="password"
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
          required
        />
        @if(password?.hasError('required') && isSubmitted) {
        <p class="invalid-message">Password is required.</p>
        } @if(password?.hasError('minlength') && isSubmitted) {
        <p class="invalid-message">Password should be 6 characters or more.</p>
        }

        <button type="submit">Login</button>
      </form>
      <p class="signup-message">
        Don't have an account?<a routerLink="/signup"
          ><strong> Sign up.</strong></a
        >
      </p>
    </div>
  </div>
</div>
